@page "/"
@using Roll10.Models
@using Roll10.Components
@inject Roll10.Services.IApiService apiservice
@inject Roll10.Services.GlobalRefreshService globalRefreshService
@inject Roll10.Services.PocketbaseService pb


<Toast />
<PopupMenu />
<div class="flex flex-col items-center">
    <div class="lg:w-11/12 w-full">
        @foreach (var character in Characters)
        {
            <CharacterDescription Character="character" AllCharacterActions="CharacterActions"></CharacterDescription>
        }
    </div>
</div>

@code{
    public List<Character> Characters = new List<Character>();
    public List<CharacterAction> CharacterActions = new List<CharacterAction>();
    protected override async Task OnInitializedAsync()
    {
        Characters = (await apiservice.GetDefaultCharacters()).ToList();
        CharacterActions = await apiservice.GetActions(true);
        globalRefreshService.RefreshRequested += () => {
            this.StateHasChanged();
        };
    }
}