
<main class="container">
  <ng-container *ngIf="currentUser?.email; else notLoggedIn">
    <section>
      <h3>User Information</h3>
      <h3 style="text-align: center">{{currentUser?.email}}</h3>
      <button (click)="Logout()">Log Out</button>
    </section>
    <section>
      <h3>Dice Room</h3>
      <label for="dice-room-id-entry">
        Dice Room
        <input type="text" id="dice-room-id-entry" [formControl]="idEntry" />
      </label>
      <p *ngIf="idEntry.errors && idEntry.dirty" class="text-red-600">
        {{idEntry.errors['pattern'] ? 'Id must be 15 characters' : ''}}
      </p>
      <button (click)="HandleDiceRoomSubmit()">Join Dice Room</button>
      <button (click)="CreateNewDiceRoom()" type="button">Create New Dice Room</button>
    </section>
  </ng-container>
  <ng-template #notLoggedIn>
    <div style="text-align: center">
      <h3>You Must Login To Use Settings</h3>
      <a routerLink="/login" id="login-button" role="button">Log In</a>
    </div>
  </ng-template>

</main>
