
<main class="container">
  <ng-container *ngIf="currentUser?.email; else notLoggedIn">
    <section>
      <h3>User Information</h3>
      <h3 style="text-align: center">{{currentUser?.email}}</h3>
      <button (click)="Logout()">Log Out</button>
    </section>
    <section>
      <h3>Dice Room</h3>
      <h4>Create a New Dice Room</h4>
      <button (click)="CreateNewDiceRoom()">Create New Dice Room</button>
      <form (submit)="HandleSubmit()">
        <h4>Join a Dice Room</h4>
        <label for="dice-room-id-entry">
          Dice Room
          <input type="text" id="dice-room-id-entry" [formControl]="idEntry" />
        </label>
        <p *ngIf="idEntry.errors && idEntry.dirty" class="text-red-600">
          {{idEntry.errors['pattern'] ? 'Id must be 15 characters' : ''}}
        </p>
        <button type="submit">Join Dice Room</button>
      </form>
    </section>
  </ng-container>
  <ng-template #notLoggedIn>
    <div style="text-align: center">
      <h3>You Must Login To Use Settings</h3>
      <a routerLink="/login" id="login-button" role="button">Log In</a>
    </div>
  </ng-template>

</main>
