<app-toast></app-toast>
<app-popup-menu></app-popup-menu>
<main class="container-fluid">
  <nav>
    <ul>
      <li>
        <details role="list" dir="auto">
          <summary aria-haspopup="listbox" role="link">Characters</summary>
          <ul role="listbox">
            <li><a routerLink="/characters" [queryParams]="{nonPlayers: false}">My Characters</a></li>
            <li><a routerLink="/create">Create a Character</a> </li>
          </ul>
        </details>
      </li>
      <li>
        <details role="list" dir="auto">
          <summary aria-haspopup="listbox" role="link">Compendium</summary>
          <ul role="listbox">
            <li><a routerLink="/characters" [queryParams]="{nonPlayers: true}">Non Player Characters</a></li>
            <li><a routerLink="/ancestries">Ancestries</a></li>
            <li><a routerLink="/actions">Actions</a></li>
            <li><a routerLink="/items">Items</a></li>
            <li><a routerLink="/spells">Spells</a></li>
          </ul>
        </details>
      </li>
    </ul>
    <ul>
      <li><a routerLink="settings">Settings</a></li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</main>
