<div>
  <ul class="list-none" #diceLog>
    <ng-container *ngIf="diceLogService.diceLog.length > 0; else noDiceLogEntries">
      <ng-container *ngFor="let roll of diceLogService.diceLog">
        <li class="even:bg-slate-200 p-2">
          <p class="text-center font-bold">{{roll.title}}</p>
          <p class="text-center italic">{{roll.diceroll}}</p>
          <p class="text-center font-bold text-lg">{{roll.rolledamount}}</p>
          <p class="text-center text-sm">{{roll.description}}</p>
        </li>
      </ng-container>
    </ng-container>
    <ng-template #noDiceLogEntries>
      <li><p class="text-center font-italic">No rolls yet.</p></li>
    </ng-template>
  </ul>
</div>
