<link rel="stylesheet" href="/assets/main.css">
<div class="fixed lg:right-16 lg:bottom-14 right-5 bottom-5 z-10">
  <ng-container *ngIf="isMenuShowing">
    <div style="height: calc(100vh - 10.5rem);" class="w-80 overflow-scroll bg-slate-50 rounded-lg p-3 m-4 shadow-lg shadow-slate-900" id="menu-container" #diceLog>
      <div class="h-3"></div>
      <p class="font-bold uppercase text-center">Dice Log</p>
      <hr />
      <app-dice-log></app-dice-log>
    </div>
  </ng-container>
  <div class="flex justify-end w-full">
    <div class="rounded-full bg-slate-50 shadow-lg shadow-slate-900">
      <img src="assets/images/dice.svg" class="h-14 w-14" (click)="ToggleMenuShowing()" id="popup-menu" alt="Image of a blue D20"/>
    </div>
  </div>
</div>
