<link rel="stylesheet" href="/assets/css/pico.min.css">
<main class="container">
  <h1>Create a Character</h1>
  <div *ngIf="isLoading else notLoading" style="text-align: center;">
    <h3 aria-busy="true">Loading Character Creator</h3>
  </div>
  <ng-template #notLoading>
    <form [formGroup]="characterCreationForm" (ngSubmit)="OnSubmit()">
      <section>
        <label for="name-input">Name</label>
        <input id="name-input" formControlName="name" type="text" maxlength="100" minlength="1" (change)="OnFormChange()" [attr.aria-invalid]="!!characterCreationForm.controls.name.errors" />
        <div class="grid">
          <fieldset>
            <label>Level</label>
            <select formControlName="level" (change)="OnFormChange()">
              <option *ngFor="let num of levelKeys" [ngValue]="num">{{num}}</option>
            </select>
          </fieldset>
          <fieldset>
            <label>Ancestry</label>
            <select formControlName="ancestry" (change)="OnFormChange()">
              <option *ngFor="let opt of baseCharacters" [ngValue]="opt">{{opt.name}}</option>
            </select>
          </fieldset>
          <fieldset>
            <label>Caster Type</label>
            <select formControlName="casterType" (change)="OnFormChange()">
              <option *ngFor="let opt of casterOptions" [ngValue]="opt">{{TitleCase(opt)}}</option>
            </select>
          </fieldset>
        </div>
        <h2 style="text-align: center" [ngStyle]="{'color': !!characterCreationForm.controls.points.errors ? 'var(--del-color)' : 'unset'}">{{characterCreationForm.controls.points.getRawValue()}} Points Remaining</h2>
        <div style="display: flex; justify-content: center; flex-wrap: wrap">
          <app-round-inc-and-dec
            Id="str-input"
            Name="STR"
            [Value]="shadowCharacter.strength"
            Title="Strength"
            (Decrement)="ChangeControlValue(characterCreationForm.controls.str, -1)"
            (Increment)="ChangeControlValue(characterCreationForm.controls.str, 1)"
            [HideButtons]="false"
            Color="border-slate-400 bg-slate-700"
          />
          <app-round-inc-and-dec
            Id="agi-input"
            Name="AGI"
            [Value]="shadowCharacter.agility"
            Title="Agility"
            (Decrement)="ChangeControlValue(characterCreationForm.controls.agi, -1)"
            (Increment)="ChangeControlValue(characterCreationForm.controls.agi, 1)"
            [HideButtons]="false"
            Color="border-slate-400 bg-slate-700"
          />
          <app-round-inc-and-dec
            Id="dur-input"
            Name="DUR"
            [Value]="shadowCharacter.durability"
            Title="Durability"
            (Decrement)="ChangeControlValue(characterCreationForm.controls.dur, -1)"
            (Increment)="ChangeControlValue(characterCreationForm.controls.dur, 1)"
            [HideButtons]="false"
            Color="border-slate-400 bg-slate-700"
          />
          <app-round-inc-and-dec
            Id="sta-input"
            Name="STA"
            [Value]="shadowCharacter.stamina"
            Title="Stamina"
            (Decrement)="ChangeControlValue(characterCreationForm.controls.sta, -1)"
            (Increment)="ChangeControlValue(characterCreationForm.controls.sta, 1)"
            [HideButtons]="false"
            Color="border-slate-400 bg-slate-700"
          />
          <app-round-inc-and-dec
            Id="int-input"
            Name="INT"
            [Value]="shadowCharacter.intelligence"
            Title="Intelligence"
            (Decrement)="ChangeControlValue(characterCreationForm.controls.int, -1)"
            (Increment)="ChangeControlValue(characterCreationForm.controls.int, 1)"
            [HideButtons]="false"
            Color="border-slate-400 bg-slate-700"
          />
          <app-round-inc-and-dec
            Id="ins-input"
            Name="INS"
            [Value]="shadowCharacter.insight"
            Title="Insight"
            (Decrement)="ChangeControlValue(characterCreationForm.controls.ins, -1)"
            (Increment)="ChangeControlValue(characterCreationForm.controls.ins, 1)"
            [HideButtons]="false"
            Color="border-slate-400 bg-slate-700"
          />
        </div>
        <div style="display: flex; justify-content: center; flex-wrap: wrap">
          <app-round-inc-and-dec
            [HideButtons]="true"
            [Value]="shadowCharacter.max_hp"
            [Id]="'character-max-hp'"
            Name="HP"
            Title="HP"
            Color="border-red-700 bg-red-500"
          />
          <app-round-inc-and-dec
            [HideButtons]="true"
            [Value]="shadowCharacter.max_stamina"
            [Id]="'character-max-sta'"
            Name="STA"
            Title="Stamina"
            Color="border-green-700 bg-green-500"
          />
        </div>
        <ng-container *ngIf="shadowCharacter.level >= 3">
          <ng-container *ngTemplateOutlet="abiTemplate;context:{level: 3, formGroup: abiThirdLevel}"></ng-container>
        </ng-container>
      </section>
      <section>
        <div class="grid">
          <app-rollable-selector Name="Items" [Rollables]="itemChoices"  (SelectedRollables)="AddItemsToCharacter($event)"></app-rollable-selector>
          <app-rollable-selector Name="Spells" [Rollables]="spellChoices" (SelectedRollables)="AddSpellsToCharacter($event)"></app-rollable-selector>
        </div>
      </section>
      <button role="button" [disabled]="!IsFormValid()">Create Character</button>
    </form>
</ng-template>
</main>


<ng-template #abiTemplate let-level="level" let-formGroup="formGroup">
  <form [formGroup]="formGroup">
    <br />
    <h3><b>ABI Level {{level}}</b></h3>
    <div class="flex flex-row">
      <div class="w-40">
        <label>ABI</label>
        <select class="input" [formControlName]="'abi-' + level + '-1'" (change)="OnFormChange()">
          <option *ngFor="let option of characterStatOptions" [ngValue]="option">{{option}}</option>
        </select>
      </div>
      <div class="w-16"></div>
      <div class="w-40">
        <label>ABI</label>
        <select class="input" [formControlName]="'abi-' + level + '-2'" (change)="OnFormChange()">
          <option *ngFor="let option of characterStatOptions" [ngValue]="option">{{option}}</option>
        </select>
      </div>
    </div>
  </form>
</ng-template>
