<div class="flex flex-col items-center">
  <div *ngIf="isLoading else notLoading">
    <div style="text-align: center">
      <h2 aria-busy="true">Loading Characters</h2>
    </div>
  </div>
  <ng-template #notLoading>
    <div class="lg:w-11/12 w-full">
      <ng-container *ngFor="let character of characters">
        <app-character-description [character]="character" [allCharacterActions]="actions"></app-character-description>
      </ng-container>
    </div>
  </ng-template>
<!--  TODO: Remove when floating menu is no longer there-->
  <div style="height: 85px"></div>
</div>
