@using Roll10.Services
@using Roll10.Models
@inject GlobalRefreshService refreshService
@inject DiceLogService diceLogService
@inject PocketbaseService pb
@inject IJSRuntime JS

<div>
    <ul class="list-none">
        @if(diceLogService.DiceLog.Count > 0)
        {
            @foreach(var roll in diceLogService.DiceLog)
            {
                <li class="even:bg-slate-200 p-2">
                    <p class="text-center font-bold">@roll.Title</p>
                    <p class="text-center italic">@roll.DiceRoll</p>
                    <p class="text-center font-bold text-lg">@roll.RolledAmount</p>
                </li>
            }
        }
        else
        {
            <li><p class="text-center font-italic">No rolls yet.</p></li>
        }
    </ul>
</div>

@code 
{
    protected override async Task OnInitializedAsync()
    {
        if(await pb.IsLoginValid())
        {
            await pb.SubscribeTo("diceroomlogs", "*", (message) => {
                Console.WriteLine(message);
            });
        }

        refreshService.RefreshRequested += () => {
            this.StateHasChanged();
            JS.InvokeVoidAsync("scrollElementToBottom","#menu-container");
        };

        await base.OnInitializedAsync();
    }
}