@using Roll10.Services
@using System.Text.Json
@using System.Text.Json.Nodes
@inject GlobalRefreshService RefreshService
@inject DiceLogService DiceLogService
@inject PocketbaseService Pb
@inject IJSRuntime Js

<div>
    <ul class="list-none">
        @if(DiceLogService.DiceLog.Count > 0)
        {
            @foreach(var roll in DiceLogService.DiceLog)
            {
                <li class="even:bg-slate-200 p-2">
                    <p class="text-center font-bold">@roll.title</p>
                    <p class="text-center italic">@roll.diceroll</p>
                    <p class="text-center font-bold text-lg">@roll.rolledamount</p>
                </li>
            }
        }
        else
        {
            <li><p class="text-center font-italic">No rolls yet.</p></li>
        }
    </ul>
</div>

@code 
{
    protected override async Task OnInitializedAsync()
    {
        RefreshService.RefreshRequested += () => {
            StateHasChanged();
            _ = Task.Run(ScrollToBottom);
        };
        
        await Pb.GetUser();
        await base.OnInitializedAsync();
    }

    private async Task ScrollToBottom()
    {
        await Js.InvokeVoidAsync("scrollElementToBottom","#menu-container");
    }
}