@using Roll10.Services
@using Roll10.Models
@using System.Text.Json
@using System.Text.Json.Nodes
@inject GlobalRefreshService RefreshService
@inject DiceLogService DiceLogService
@inject PocketbaseService Pb
@inject IJSRuntime Js

<div>
    <ul class="list-none">
        @if(DiceLogService.DiceLog.Count > 0)
        {
            @foreach(var roll in DiceLogService.DiceLog)
            {
                <li class="even:bg-slate-200 p-2">
                    <p class="text-center font-bold">@roll.title</p>
                    <p class="text-center italic">@roll.diceroll</p>
                    <p class="text-center font-bold text-lg">@roll.rolledamount</p>
                </li>
            }
        }
        else
        {
            <li><p class="text-center font-italic">No rolls yet.</p></li>
        }
    </ul>
</div>

@code 
{
    protected override async Task OnInitializedAsync()
    {
        //TODO: Use Observable Instead
        if(await Pb.IsLoginValid())
        {
            var user = await Pb.GetUser();
            if (!string.IsNullOrEmpty(user?.diceroom))
            {
                await DiceLogService.SyncDiceLog();
                await Pb.SubscribeTo("diceroomlogs", "*", async (message) =>
                {
                    var eventMessage = JsonNode.Parse(message);
                    var logEntry = JsonSerializer.Deserialize<DiceLogEntry>(eventMessage?.AsObject()?["record"]?.ToJsonString() ?? "{}");
                    if (logEntry != null)
                    {
                        if(!DiceLogService.DiceLog.Select(d => d.id).Contains(logEntry.id))
                            await DiceLogService.AddEntry(logEntry, true);
                    }
                });
            }
        }

        RefreshService.RefreshRequested += () => {
            StateHasChanged();
            _ = Task.Run(ScrollToBottom);
        };

        await base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Task.Delay(100);
            await ScrollToBottom();
        }
        
        await base.OnAfterRenderAsync(firstRender);
    }

    private async Task ScrollToBottom()
    {
        await Js.InvokeVoidAsync("scrollElementToBottom","#menu-container");
    }
}