@using Roll10.Services
@inject GlobalRefreshService globalRefreshService
@inject ToastService toastService

<div class="fixed top-0 left-1/2 -translate-x-1/2 flex flex-col items-center z-10">
    @foreach(var toastMessage in toastService.Toasts)
    {
        <div class="z-10 p-2 m-2 rounded-md bg-slate-50 shadow-xl shadow-slate-900">
            @(new MarkupString(toastMessage.Message))
        </div>
    }
</div>

@code
{
    protected override async Task OnInitializedAsync()
    {
        globalRefreshService.RefreshRequested += () => {
            this.StateHasChanged();
        };
    }
}