@using Roll10.Services
@inject GlobalRefreshService GlobalRefreshService
@inject ToastService ToastService

<div class="fixed top-0 left-1/2 -translate-x-1/2 flex flex-col items-center z-50">
    @foreach(var toastMessage in ToastService.Toasts)
    {
        <div class="z-10 p-2 m-2 rounded-md shadow-xl shadow-slate-900 @GetBackground(toastMessage)">
            @(new MarkupString(toastMessage.Message))
        </div>
    }
</div>

@code
{
    protected override Task OnInitializedAsync()
    {
        GlobalRefreshService.RefreshRequested += this.StateHasChanged;
        return Task.CompletedTask;
    }

    string GetBackground(ToastMessage message)
    {
        return message.Type switch
        {
            ToastType.Info => "bg-slate-50",
            ToastType.Warning => "bg-red-50",
            _ => ""
        };
    }
}